[submodule "dotbot"]
	path = .installer/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "files/plugins/fasd"]
	path = files/plugins/fasd
	url = https://github.com/whjvenyl/fasd
[submodule "files/plugins/pathpicker"]
	path = files/plugins/pathpicker
	url = https://github.com/facebook/PathPicker.git
